.retromario {
    width: 23px;
    height: 23px;
    margin-top: 5%;
    margin-left: 10%;
    background: transparent;
    box-shadow: 
    325px 0 0 #F4B350, 350px 0 0 #F4B350, 375px 0 0 #F4B350, 150px 25px 0 #D91E18, 175px 25px 0 #D91E18, 200px 25px 0 #D91E18, 
    225px 25px 0 #D91E18, 250px 25px 0 #D91E18, 325px 25px 0 #F4B350, 350px 25px 0 #F4B350, 375px 25px 0 #F4B350, 125px 50px 0 #D91E18, 
    150px 50px 0 #D91E18, 175px 50px 0 #D91E18, 200px 50px 0 #D91E18, 225px 50px 0 #D91E18, 250px 50px 0 #D91E18, 275px 50px 0 #D91E18, 
    300px 50px 0 #D91E18, 325px 50px 0 #D91E18, 350px 50px 0 #F4B350, 375px 50px 0 #F4B350, 125px 75px 0 #651810, 150px 75px 0 #651810, 
    175px 75px 0 #651810, 200px 75px 0 #F4B350, 225px 75px 0 #F4B350, 250px 75px 0 #651810, 275px 75px 0 #F4B350, 325px 75px 0 #651810, 
    350px 75px 0 #651810, 375px 75px 0 #651810, 100px 100px 0 #651810, 125px 100px 0 #F4B350, 150px 100px 0 #651810, 175px 100px 0 #F4B350,
    200px 100px 0 #F4B350, 225px 100px 0 #F4B350, 250px 100px 0 #651810, 275px 100px 0 #F4B350, 300px 100px 0 #F4B350, 
    325px 100px 0 #F4B350, 350px 100px 0 #651810, 375px 100px 0 #651810, 100px 125px 0 #651810, 125px 125px 0 #F4B350, 
    150px 125px 0 #651810, 175px 125px 0 #651810, 200px 125px 0 #F4B350, 225px 125px 0 #F4B350, 250px 125px 0 #F4B350, 
    275px 125px 0 #651810, 300px 125px 0 #F4B350, 325px 125px 0 #F4B350, 350px 125px 0 #F4B350, 375px 125px 0 #651810, 
    100px 150px 0 #651810, 125px 150px 0 #651810, 150px 150px 0 #F4B350, 175px 150px 0 #F4B350, 200px 150px 0 #F4B350, 
    225px 150px 0 #F4B350, 250px 150px 0 #651810, 275px 150px 0 #651810, 300px 150px 0 #651810, 325px 150px 0 #651810, 
    350px 150px 0 #651810, 150px 175px 0 #F4B350, 175px 175px 0 #F4B350, 200px 175px 0 #F4B350, 225px 175px 0 #F4B350, 
    250px 175px 0 #F4B350, 275px 175px 0 #F4B350, 300px 175px 0 #F4B350, 325px 175px 0 #651810, 50px 200px 0 #651810, 
    75px 200px 0 #651810, 100px 200px 0 #651810, 125px 200px 0 #651810, 150px 200px 0 #651810, 175px 200px 0 #D91E18, 
    200px 200px 0 #651810, 225px 200px 0 #651810, 250px 200px 0 #651810, 275px 200px 0 #D91E18, 300px 200px 0 #651810, 
    25px 225px 0 #651810, 50px 225px 0 #651810, 75px 225px 0 #651810, 100px 225px 0 #651810, 125px 225px 0 #651810, 
    150px 225px 0 #651810, 175px 225px 0 #651810, 200px 225px 0 #D91E18, 225px 225px 0 #651810, 250px 225px 0 #651810, 
    275px 225px 0 #651810, 300px 225px 0 #D91E18, 375px 225px 0 #651810, 0 250px 0 #F4B350, 25px 250px 0 #F4B350, 50px 250px 0 #651810, 
    75px 250px 0 #651810, 100px 250px 0 #651810, 125px 250px 0 #651810, 150px 250px 0 #651810, 175px 250px 0 #651810, 
    200px 250px 0 #D91E18, 225px 250px 0 #D91E18, 250px 250px 0 #D91E18, 275px 250px 0 #D91E18, 300px 250px 0 #D91E18, 
    375px 250px 0 #651810, 0 275px 0 #F4B350, 25px 275px 0 #F4B350, 50px 275px 0 #F4B350, 125px 275px 0 #D91E18, 150px 275px 0 #651810, 
    175px 275px 0 #D91E18, 200px 275px 0 #D91E18, 225px 275px 0 #D91E18, 250px 275px 0 #F9BF3B, 275px 275px 0 #D91E18, 
    300px 275px 0 #F9BF3B, 325px 275px 0 #D91E18, 350px 275px 0 #651810, 375px 275px 0 #651810, 25px 300px 0 #F4B350, 
    75px 300px 0 #651810, 125px 300px 0 #D91E18, 150px 300px 0 #D91E18, 175px 300px 0 #D91E18, 200px 300px 0 #D91E18, 
    225px 300px 0 #D91E18, 250px 300px 0 #D91E18, 275px 300px 0 #D91E18, 300px 300px 0 #D91E18, 325px 300px 0 #D91E18, 
    350px 300px 0 #651810, 375px 300px 0 #651810, 50px 325px 0 #651810, 75px 325px 0 #651810, 100px 325px 0 #651810, 
    125px 325px 0 #D91E18, 150px 325px 0 #D91E18, 175px 325px 0 #D91E18, 200px 325px 0 #D91E18, 225px 325px 0 #D91E18, 
    250px 325px 0 #D91E18, 275px 325px 0 #D91E18, 300px 325px 0 #D91E18, 325px 325px 0 #D91E18, 350px 325px 0 #651810, 
    375px 325px 0 #651810, 25px 350px 0 #651810, 50px 350px 0 #651810, 75px 350px 0 #651810, 100px 350px 0 #D91E18, 
    125px 350px 0 #D91E18, 150px 350px 0 #D91E18, 175px 350px 0 #D91E18, 200px 350px 0 #D91E18, 225px 350px 0 #D91E18, 
    250px 350px 0 #D91E18, 25px 375px 0 #651810, 100px 375px 0 #D91E18, 125px 375px 0 #D91E18, 150px 375px 0 #D91E18, 
    175px 375px 0 #D91E18;
  
  }
  .mario {
    
    margin: 0 1px;
    position: relative;
    float: left;
    width: 23em;
    height: 34em;
  }
  .uno {
    font-size: 1px;
  }
  .dos {
    font-size: 2px;
  }
  .tres {
    font-size: 3px;
  }
  .cuatro {
    font-size: 4px;  
  }
  .cinco {
    font-size: 5px;
  }
  
  .mario div {
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    box-shadow:
    8em 0em #000, 9em 0em #000, 10em 0em #000, 11em 0em #000, 12em 0em #000,
    7em 1em #000, 8em 1em #f00, 9em 1em #f00, 10em 1em #f00, 11em 1em #f00, 12em 1em #f00, 13em 1em #000,
    6em 2em #000, 7em 2em #f00, 8em 2em #f00, 9em 2em #fff, 10em 2em #fff, 11em 2em #f00, 12em 2em #f00, 13em 2em #f00, 14em 2em #000, 15em 2em #000,
    5em 3em #000, 6em 3em #f00, 7em 3em #f00, 8em 3em #fff, 9em 3em #f00, 10em 3em #fff, 11em 3em #fff, 12em 3em #f00, 13em 3em #f00, 14em 3em #f00, 15em 3em #f00, 16em 3em #000,
    4em 4em #000, 5em 4em #000, 6em 4em #f00, 7em 4em #f00, 8em 4em #fff, 9em 4em #f00, 10em 4em #f00, 11em 4em #fff, 12em 4em #f00, 13em 4em #f00, 14em 4em #f00, 15em 4em #f00, 16em 4em #f00, 17em 4em #000,
    4em 5em #000, 5em 5em #f00, 6em 5em #f00, 7em 5em #7B3127, 8em 5em #7B3127, 9em 5em #7B3127, 10em 5em #7B3127, 11em 5em #7B3127, 12em 5em #7B3127, 13em 5em #7B3127, 14em 5em #7B3127, 15em 5em #f00, 16em 5em #f00, 17em 5em #000,
    4em 6em #000, 5em 6em #000, 6em 6em #7B3127, 7em 6em #f00, 8em 6em #f00, 9em 6em #f00, 10em 6em #f00, 11em 6em #f00, 12em 6em #f00, 13em 6em #f00, 13em 6em #f00, 14em 6em #7B3127, 15em 6em #7B3127, 16em 6em #000, 17em 6em #000,
    5em 7em #000, 6em 7em #f00, 7em 7em #f00, 8em 7em #f00, 9em 7em #000, 10em 7em #000, 11em 7em #000, 12em 7em #000, 13em 7em #000, 14em 7em #7B3127, 15em 7em #7B3127, 16em 7em #000,
    5em 8em #000, 6em 8em #000, 7em 8em #000, 8em 8em #000, 9em 8em #F7CFAC, 10em 8em #000, 11em 8em #F7CFAC, 12em 8em #000, 13em 8em #F7CFAC, 14em 8em #F7CFAC, 15em 8em #7B3127, 16em 8em #000, 17em 8em #000,
    4em 9em #000, 5em 9em #F7CFAC, 6em 9em #7B3127, 7em 9em #F7CFAC, 8em 9em #F7CFAC, 9em 9em #F7CFAC, 10em 9em #000, 11em 9em #F7CFAC, 12em 9em #000, 13em 9em #F7CFAC, 14em 9em #F7CFAC, 15em 9em #F7CFAC, 16em 9em #7B3127, 17em 9em #F7CFAC, 18em 9em #000,
    4em 10em #000, 5em 10em #F7CFAC, 6em 10em #F7CFAC, 7em 10em #F7CFAC, 8em 10em #F7CFAC, 9em 10em #7B3127, 10em 10em #7B3127, 11em 10em #7B3127, 12em 10em #7B3127, 13em 10em #7B3127, 14em 10em #F7CFAC, 15em 10em #F7CFAC, 16em 10em #F7CFAC, 17em 10em #F7CFAC, 18em 10em #000,
    5em 11em #000, 6em 11em #F7CFAC, 7em 11em #000, 8em 11em #7B3127, 9em 11em #F7CFAC, 10em 11em #F7CFAC, 11em 11em #F7CFAC, 12em 11em #F7CFAC, 13em 11em #F7CFAC, 14em 11em #7B3127, 15em 11em #000, 16em 11em #F7CFAC, 17em 11em #000,
    5em 12em #000, 6em 12em #F7CFAC, 7em 12em #000, 8em 12em #7B3127, 9em 12em #F7CFAC, 10em 12em #F7CFAC, 11em 12em #F7CFAC, 12em 12em #F7CFAC, 13em 12em #F7CFAC, 14em 12em #7B3127, 15em 12em #000, 16em 12em #F7CFAC, 17em 12em #000,
    5em 13em #000, 6em 13em #F7CFAC, 7em 13em #000, 8em 13em #000, 9em 13em #000, 10em 13em #000, 11em 13em #000, 12em 13em #000, 13em 13em #000, 14em 13em #000, 15em 13em #000, 16em 13em #F7CFAC, 17em 13em #000,
    6em 14em #000, 7em 14em #F7CFAC, 8em 14em #F7CFAC, 9em 14em #000, 10em 14em #000, 11em 14em #000, 12em 14em #000, 13em 14em #000, 14em 14em #F7CFAC, 15em 14em #F7CFAC, 16em 14em #000,
    5em 15em #000, 6em 15em #000, 7em 15em #000, 8em 15em #F7CFAC, 9em 15em #F7CFAC, 10em 15em #F7CFAC, 11em 15em #F7CFAC, 12em 15em #F7CFAC, 13em 15em #F7CFAC, 14em 15em #F7CFAC, 15em 15em #000, 16em 15em #000, 17em 15em #000,
    4em 16em #000, 5em 16em #f00, 6em 16em blue, 7em 16em blue, 8em 16em #000, 9em 16em #000, 10em 16em #000, 11em 16em #000, 12em 16em #000, 13em 16em #000, 14em 16em #000, 15em 16em blue, 16em 16em blue, 17em 16em #f00, 18em 16em #000,
    3em 17em #000, 4em 17em #f00, 5em 17em #f00, 6em 17em #000, 7em 17em blue, 8em 17em blue, 9em 17em blue, 10em 17em blue, 11em 17em blue, 12em 17em blue, 13em 17em blue, 14em 17em blue, 15em 17em blue, 16em 17em #000, 17em 17em #f00, 18em 17em #f00, 19em 17em #000,
    3em 18em #000, 4em 18em #f00, 5em 18em #f00, 6em 18em #000, 7em 18em blue, 8em 18em #fff, 9em 18em blue, 10em 18em blue, 11em 18em blue, 12em 18em blue, 13em 18em blue, 14em 18em #fff, 15em 18em blue, 16em 18em #000, 17em 18em #f00, 18em 18em #f00, 19em 18em #000,
    2em 19em #000, 3em 19em #f00, 4em 19em #f00, 5em 19em #000, 6em 19em blue, 7em 19em blue, 8em 19em blue, 9em 19em blue, 10em 19em blue, 11em 19em blue, 12em 19em blue, 13em 19em blue, 14em 19em blue, 15em 19em blue, 16em 19em blue, 17em 19em #000, 18em 19em #f00, 19em 19em #f00, 20em 19em #000,
    2em 20em #000, 3em 20em #f00, 4em 20em #f00, 5em 20em #000, 6em 20em #00008B, 7em 20em #00008B, 8em 20em #00008B, 9em 20em blue, 10em 20em blue, 11em 20em blue, 12em 20em blue, 13em 20em blue, 14em 20em #00008B, 15em 20em #00008B, 16em 20em #00008B, 17em 20em #000, 18em 20em #f00, 19em 20em #f00, 20em 20em #000,
    2em 21em #000, 3em 21em #f00, 4em 21em #f00, 5em 21em #000, 6em 21em blue, 7em 21em #00008B, 8em 21em blue, 9em 21em #00008B, 10em 21em #00008B, 11em 21em #00008B, 12em 21em #00008B, 13em 21em #00008B, 14em 21em blue, 15em 21em #00008B, 16em 21em blue, 17em 21em #000, 18em 21em #f00, 19em 21em #f00, 20em 21em #000,
    1em 22em #000, 2em 22em #fff, 3em 22em #fff, 4em 22em #fff, 5em 22em #000, 6em 22em #00008B, 7em 22em blue, 8em 22em blue, 9em 22em blue, 10em 22em blue, 11em 22em blue, 12em 22em blue, 13em 22em blue, 14em 22em blue, 15em 22em blue, 16em 22em #00008B, 17em 22em #000, 18em 22em #fff, 19em 22em #fff, 20em 22em #fff, 21em 22em #000,
    1em 23em #000, 2em 23em #fff, 3em 23em #fff, 4em 23em #fff, 5em 23em #000, 6em 23em #000, 7em 23em blue, 8em 23em blue, 9em 23em blue, 10em 23em blue, 11em 23em blue, 12em 23em blue, 13em 23em blue, 14em 23em blue, 15em 23em blue, 16em 23em #000, 17em 23em #000, 18em 23em #fff, 19em 23em #fff, 20em 23em #fff, 21em 23em #000,
    1em 24em #000, 2em 24em #fff, 3em 24em #fff, 4em 24em #fff, 5em 24em #000, 6em 24em #000, 7em 24em blue, 8em 24em #000, 9em 24em blue, 10em 24em blue, 11em 24em blue, 12em 24em blue, 13em 24em blue, 14em 24em #000, 15em 24em blue, 16em 24em #000, 17em 24em #000, 18em 24em #fff, 19em 24em #fff, 20em 24em #fff, 21em 24em #000,
    2em 25em #000, 3em 25em #000, 4em 25em #000, 6em 25em #000, 7em 25em blue, 8em 25em blue, 9em 25em #000, 10em 25em #000, 11em 25em #000, 12em 25em #000, 13em 25em #000, 14em 25em blue, 15em 25em blue, 16em 25em #000, 18em 25em #000, 19em 25em #000, 20em 25em #000,
    6em 26em #000, 7em 26em blue, 8em 26em blue, 9em 26em blue, 10em 26em blue, 11em 26em #000, 12em 26em blue, 13em 26em blue, 14em 26em blue, 15em 26em blue, 16em 26em #000,
    6em 27em #000, 7em 27em blue, 8em 27em blue, 9em 27em blue, 10em 27em blue, 11em 27em #000, 12em 27em blue, 13em 27em blue, 14em 27em blue, 15em 27em blue, 16em 27em #000,
    5em 28em #000, 6em 28em #000, 7em 28em blue, 8em 28em blue, 9em 28em blue, 10em 28em blue, 11em 28em #000, 12em 28em blue, 13em 28em blue, 14em 28em blue, 15em 28em blue, 16em 28em #000, 17em 28em #000,
    5em 28em #000, 6em 28em #000, 7em 28em blue, 8em 28em blue, 9em 28em blue, 10em 28em blue, 11em 28em #000, 12em 28em blue, 13em 28em blue, 14em 28em blue, 15em 28em blue, 16em 28em #000, 17em 28em #000,
    4em 29em #000, 5em 29em #737373, 6em 29em #737373, 7em 29em #737373, 8em 29em #737373, 9em 29em blue, 10em 29em blue, 11em 29em #000, 12em 29em blue, 13em 29em blue, 14em 29em #737373, 15em 29em #737373, 16em 29em #737373, 17em 29em #737373, 18em 29em #000,
    4em 30em #000, 5em 30em #AC9784, 6em 30em #AC9784, 7em 30em #AC9784, 8em 30em #AC9784, 9em 30em #AC9784, 10em 30em #000, 12em 30em #000, 13em 30em #AC9784, 14em 30em #AC9784, 15em 30em #AC9784, 16em 30em #AC9784, 17em 30em #AC9784, 18em 30em #000,
    4em 31em #000, 5em 31em #000, 6em 31em #000, 7em 31em #000, 8em 31em #000, 9em 31em #000, 10em 31em #000, 12em 31em #000, 13em 31em #000, 14em 31em #000, 15em 31em #000, 16em 31em #000, 17em 31em #000, 18em 31em #000;
  }